@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;

  --spacing-inherit: inherit;

  /* Defining the complex shadow as a single theme variable */
  --shadow-glow-card:
    inset 0 -80px 60px -30px var(--color-sky-600),
    inset 0 -40px 30px -8px rgba(102, 148, 255, 0.5),
    inset 0 -20px 20px -6px rgba(255, 255, 255, 0.4),
    inset 0 6px 6px -2px rgba(35, 101, 255, 0.15),
    0 30px 60px -15px rgba(20, 76, 205, 0.7);

  /* Defining the specific corner radius */
  --radius-card: 80px;
}

/* Creating a custom utility class that uses these theme variables */
@utility shadow-card {
  background-image: linear-gradient(to bottom, #0a0909, #09101f);
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-glow-card);
}
